﻿.bullGrid {
    width: 100%;
    height: 550px;
}

.pageStyle {
    background-color: #6898ce;
}

.logoHeader {
    background-color: #003469;
}

.bullDossier {
    background-color: #ffffff;
}

.textAlignRight {
    text-align: right;
}

.infoBoxList {
    border: lightgray solid thin;
}

.bullInfoList {
    padding: 15px;
}

.infoListRow {
    background-color: #FFFFFF;
}

.altInfoListRow {
    background-color: #EEEEEE;
}

.bannerCenter {
    text-align: center;
}

.cowImage {
    border: #DDDDDD solid thin;
    width:311px
}

.bullNameHeader {
    background-color: #003469;
    color: #ffffff;
}

.backButton {
    text-align: center;
    margin-top: 14px;
    padding-top: 5px;
    color: #000000;
}

.searchRestoreButtons {
    text-align: right;
    padding-top: 40px;
}