﻿
<div class="container bullDossier">
    <div class="row">
        <div class="col-xs-12 bannerCenter">
            <img src="~/Images/wws2002header.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 bullNameHeader">
            <div class="row">
                <div class="col-xs-10">
                    <h3>Code Name: {{bullData.CODENAME}}</h3>
                </div>
                <div class="col-xs-2 textAlignRight">
                    <button class="btn btn-default backButton" data-ng-click="backClick()">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 bullInfoList">
            <div class="cowImage">
                <img src="~/Images/Supersire-ET.jpg" />
            </div>
        </div>
        <div class="col-xs-7">
            <div class="bullInfoList">
                <div class="row infoBoxList infoListRow">
                    <div class="col-xs-4">Code Number:</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.CODENO}}</div>
                </div>
                <div class="row infoBoxList altInfoListRow">
                    <div class="col-xs-4 ">PTA Milk (lbs):</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.PTAM}}</div>
                </div>
                <div class="row infoBoxList infoListRow">
                    <div class="col-xs-4">PTA Protein (lbs):</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.PTAP}}</div>
                </div>
                <div class="row infoBoxList altInfoListRow">
                    <div class="col-xs-4">PTA Type:</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.PTAT}}</div>
                </div>
                <div class="row infoBoxList infoListRow">
                    <div class="col-xs-4">TPI:</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.TPI}}</div>
                </div>
                <div class="row infoBoxList altInfoListRow">
                    <div class="col-xs-4">Pedigree:</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.Pedigree}}</div>
                </div>
                <div class="row infoBoxList infoListRow">
                    <div class="col-xs-4">UID:</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.UID}}</div>
                </div>
                <div class="row infoBoxList altInfoListRow">
                    <div class="col-xs-4">Registered Name:</div>
                    <div class="col-xs-8 textAlignRight">{{bullData.RegName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
