﻿
<div class="container">
    <div style="padding: 0 13px 0 15px">
        <div class="row logoHeader">
            <div class="col-xs-6">
                <img src="~/Images/logo.gif" />
            </div>
            <div class="col-xs-6">
                <div class="searchRestoreButtons">
                    <button id="save" type="button" class="btn btn-default" ng-click="saveState()">Save Search</button>
                    <button id="restore" type="button" class="btn btn-default" ng-click="restoreState()">Restore Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div data-ng-controller="BullController">
                <div ui-grid="gridOptions" ui-grid-exporter ui-grid-save-state class="bullGrid"></div>
            </div>
        </div>
    </div>
</div>

